
alembic==0.8.4
cffi==1.5.2
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
pycparser==2.14
python-editor==0.5
six==1.10.0
Werkzeug==0.11.4
cycler==0.10.0 
pyparsing==2.1.10
pytz==2016.10
repoze.lru==0.6
requests==2.12.4
Routes==2.4.1